#
# Service의 등록(부팅시 자동으로 실행되어짐)
#
#  서비스등록 방법(root권한 필요):
#    등록할 파일 *.service 을 /etc/systemd/system/ 으로 복사함.
#    서비스의 등록 : sudo systemctl enable {service name}
#    서비스의 해제 : sudo systemctl disable {service name}
#    서비스의 상태 : sudo systemctl status {service name}
#
Description=ODROID-JIG Service
# After=syslog.target
After=sysinit.target

[Service]
Type=simple

# login의 user를 입력한다. root계정의 경우 root로 입력한다.
User=root

# github에서 내려 받은 폴더를 기록하도록 한다. (실행 파일폴더)
WorkingDirectory=/root/mac_printer

ExecStart=/root/mac_printer/service/odroid-service.sh

[Install]
WantedBy=multi-user.target
#WantedBy=default.target
